@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');
/* body {


} */

header{
    width: 1850px;
    /* border : 2px solid red; */
    line-height: 150px;
    height : 150px;
    font-size: 30px;
    font-weight: 600;
    border-bottom: 2px solid black;
    font-family: 'Stylish',sans-serif;
    color: #1bc8f3;
    text-align: center;
}
#loginArea{
    padding-top: 10px;
    width: 340px;
    height: 100px;
    float: right;	
    text-align: left;
    /* background-color: tomato; */
    font-size: 15px; 
    line-height: 10px;
    font-family: none;
    }
    #loginArea ul li{
     font-family: 'Stylish',sans-serif;
        list-style: none;
        float: left;
        margin-left: 20px;
        margin-bottom: 80px;
    }
    #loginArea   li a{
        text-decoration: none;
        color: black;
    }
.main {
background-color: #FFFFFF;
width: 400px;
height: 400px;
margin: 7em auto;
border-radius: 1.5em;
box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
padding-top: 40px;
color: #1bc8f3;
/* font-family: 'Stylish', sans-serif; */
font-weight: 500;
font-size: 30px;
}

.un {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
/* font-family: 'Stylish', sans-serif; */
}

form.form1 {
padding-top: 40px;
}

.pass {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
/* font-family: 'Stylish', sans-serif; */
}


.un:focus, .pass:focus {
border: 2px solid rgba(0, 0, 0, 0.18) !important;

}

.submit {
cursor: pointer;
border-radius: 5em;
color: #fff;
background: linear-gradient(to right, #1bc8f3, #2d7c94);
border: 0;
padding-left: 40px;
padding-right: 40px;
padding-bottom: 10px;
padding-top: 10px;
/* font-family: 'Stylish', sans-serif; */
margin-left: 35%;
font-size: 15px;
box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
color: #E1BEE7;
padding-top: 15px;
}

.main a {
text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);

text-decoration: none
}

/* Ǫ��  ���� */
footer {
    /* background-color: darkorange; */
    clear: both;
    height: 28px;
    font-size: 20px;
    text-align: center;
    font-family: 'Stylish',sans-serif;
}
